



table{
    border-collapse: collapse;
}

td{
    border: 1px solid black ;
    width: 200px;
    height: 30px;
}

.Domenic{
    background-color: aqua;
    color: brown;
}

.thead{
    background-color: yellowgreen;
    text-align: center;
    color: white;
}

.red{
    background-color: red;
    color: white;
}

.yellow{
    background-color: yellow;
    color: green;
}